body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


#logo {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-top: 5px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4a3163;
    gap: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;  

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:  forestgreen;
}

.first-container {
  background-color: #4a3163;  
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

button {
    background-color: #316341;
    color: antiquewhite;
    padding: 7px 20px;
    font-weight: 900;
    border-radius: 8px;
    border: 0px;
    margin: 0;
    border: 1px solid #9e8c83;
}

button:hover {
    color: black;
}


#capy1 {
    height: 200px;
    width: 350px;
    border-radius: 0%;
    border: none;
}

.main-text {
    margin: 2px;
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

p {
    margin-top: 2px;
}
 
p.big-text {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

p.long-text {
    color: #E5E7EB;
    font-size: 18px;
}

.second-container {
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
    
}

img {
    height: 140px;
    width: 150px;
    border: 2px solid #145c2b;
    border-radius: 10px;
    
}


.text {
    text-align: center;
    max-width: 150px;
    color: rgb(73, 72, 72);
    
}

p.header2 {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    margin-top: 30px;
}

.third-container {
    background-color: #E5E7EB;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
 
p.quote {
    font-size: 36px;
    font-style: italic;
    width: 700px;
    
}

p.anon {
    margin-left: 450px;
    font-weight: bold;
}

 .fourth-container {
    background-color: #4a3163;
    width: 850px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 75px;
    margin-top: 30px;
    border-radius: 6px;
}
 
 .call-to-action {
   padding: 10px;
 }

 .sign-up1 {
    border: 1px solid #9e8c83;
    margin-left: 80px;
}

.footer {
    background-color: #4a3163;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.news {
    font-weight: bold;
    margin-top: 6px;
}
